PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/mern-auth-dashboard
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_string_32_characters_long
REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret_string_32_characters_long
FRONTEND_URL=http://localhost:5173
